@font-face {
	font-family: 'Maiandra';
	src: url("../fonts/maiandra.ttf'") format("truetype"),
		url("../fonts/Maiandra.otf") format("truetype");
	/* font-weight: 400; // use the matching font-weight here ( 100, 200, 300, 400, etc).
	font-style: normal; // use the matching font-style here */
}

        @page {
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
        }
        body {
            font-family: 'Maiandra';
            margin: 0; 
        }

        /*sertifikat*/
        .sertifikatInfo {
            width: 100%;
            text-align: center;
            position: absolute;
            z-index: 2;
            padding: 350px 10px;
            /* margin-top: 240px; */
        }

        /*sertifikat*/
        .percetakan {
            width: 100%;
            text-align: center;
            position: absolute;
            z-index: 2;
            padding: 0px;
            top: 308px;
            /* margin-top: 240px; */
        }
        .keterangan {
            width: 100%;
            text-align: center;
            position: absolute;
            z-index: 2;
            padding: 0px;
            top: 504px;
            /* left: 0px; */
            font-family: 'Maiandra';
        }


        .sertifikatInfo .birth {
            font-size: 14px;
            margin-top: -2px;
            /* margin-bottom: px; */
        }

        .sertifikatInfo .archive {
            font-size: 14px;
            margin-top: -12px;
            margin-bottom: 1px;
        }

        .sertifikatInfo table {
            margin: auto;
        }

        .sertifikatInfo .titleTable {
            color: #203BA1;
            padding-right: 10px;
        }

        .cardUserLeft .img-fluid.rounded-circle.dash {
            border: 3px solid #203BA1;
            width: 128px;
            height: 128px;
            margin: auto;
            margin-bottom: 15px;
            object-fit: cover;
            display: table;
        }

        .bgSertifikatCetak {
            position: relative;
            z-index: 1;
        }

        .sertifikatInfo .name {
            font-size: 38px;
            color: rgb(217 0 24);
            /* font-weight: 800; */
            font-family: 'Maiandra';
        }

        .tanggal-ttd {
            position: absolute;
            /* width: 190px; */
            height: 15px;
            z-index: 5;
            margin-left: 68%;
            top: 26.8rem;
            font-weight: 300;
            font-size: 9px;
            line-height: 15px;
            /* display: flex; */
            /* font-family: 'Inter', sans-serif; */
            align-items: center;
            letter-spacing: 0.2px;
            color: #000000;
        }

        .qrSertifikat {
            position: fixed;
            z-index: 19;
            top: 445px;
            margin-left: 40px;
            width: 100px;
        }
        .codesertifikat{
            width: 100%;
            background-color: rgb(109 109 109);
            color: white;
            text-align: center;
            font-size: 10px;
        }

        .tabel {
            margin-top: -16px;
        }

        .tabel-judul {
            font-size: 14px;
        }

        .tabel-isi {
            font-size: 12px;
        }